Basic Practice:
http://codingbat.com/python

### 1.Sleep_in
The parameter weekday is True if it is a weekday, and the parameter vacation is True if we are on vacation. We sleep in if it is not a weekday or we're on vacation. Return True if we sleep in.

In [3]:
def sleep_in(weekday,vacation):
    if not weekday or vacation:
        return True
    else:
        return False

In [ ]:
def sleep_in(weekday, vacation):
    return True if not weekday or vacation else False

In [4]:
sleep_in(False, False)

True

In [5]:
sleep_in(True,True)

True

In [6]:
sleep_in(True, False)

False

In [7]:
sleep_in(False, True)

True

In [9]:
## This can be shortened to: 
def sleep_in(weekday,vacation):
    return(not weekday or vacation)

In [10]:
sleep_in(False, False)

True

In [11]:
sleep_in(True, False)

False

### 2.monkey_trouble

We have two monkeys, a and b, and the parameters a_smile and b_smile indicate if each is smiling. We are in trouble if they are both smiling or if neither of them is smiling. Return True if we are in trouble.

In [1]:
def monkey_trouble(a_smile,b_smile):
    if a_smile and b_smile:
        return True
    if not a_smile and b_smile:
        return True
    else:
        return False

In [ ]:
def monkey_trouble(a_smile, b_smile):
    return a_smile == b_smile

In [2]:
monkey_trouble(True,True)

True

In [3]:
monkey_trouble(True,False)

False

In [4]:
monkey_trouble(False,False)

False

In [5]:
monkey_trouble(False,True)

True

### 2.Sum double

Given two int values, return their sum. Unless the two values are the same, then return double their sum.

In [6]:
def sum_double(a, b):
    sum = a + b
  # Store the sum in a local variable
    
  
  # Double it if a and b are the same
    if a == b:
        sum = sum * 2
    return sum

In [ ]:
def sum_double(a, b):
    return a + b if a != b else (a + b) * 2

In [7]:
sum_double(1, 2)

3

In [8]:
sum_double(4, 4)

16

## 3.diff21

Given an int n, return the absolute difference between n and 21, except return double the absolute difference if n is over 21.

In [9]:
def diff21(n):
    if n>21:
        return abs(n-21)*2
    else:
        return abs(n-21)

In [ ]:
def diff21(n):
    return abs(n - 21) if n < 21 else 2 * abs(n - 21)

In [11]:
diff21(19)

2

In [12]:
diff21(25)

8

## 4.parrot_trouble

We have a loud talking parrot. The "hour" parameter is the current hour time in the range 0..23. We are in trouble if the parrot is talking and the hour is before 7 or after 20. Return True if we are in trouble.

In [1]:
def parrot_trouble(talking, hour):
    return (talking and (hour<7 or hour>20))

In [2]:
parrot_trouble(True, 6)

True

In [3]:
parrot_trouble(True, 7)

False

In [4]:
parrot_trouble(True, 21)

True

In [5]:
parrot_trouble(False, 21)

False

### 5.makes10

Given 2 ints, a and b, return True if one if them is 10 or if their sum is 10.

In [1]:
def makes10(a, b):
    return a==10 or b==10 or a+b==10

In [2]:
def makes10(a, b):
    if a==10 or b==10 or a+b==10:
        return True
    else:
        return False

In [3]:
makes10(9, 10)

True

In [4]:
makes10(10, 5)

True

In [5]:
makes10(4, 6)

True

In [6]:
makes10(9, 1)

True

In [7]:
makes10(9, 8)

False

### 6.near_hundred

Given an int n, return True if it is within 10 of 100 or 200. Note: abs(num) computes the absolute value of a number.

In [1]:
def near_hundred(n):#myans
    return 90<=n<=110 or 190<=n<=210

In [2]:
def near_hundred(n):#ans
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [3]:
near_hundred(90)

True

In [4]:
near_hundred(93)

True

In [5]:
near_hundred(105)

True

In [6]:
near_hundred(201)

True

In [7]:
near_hundred(189)

False

In [8]:
near_hundred(32)

False

## 7pos_neg

Given 2 int values, return True if one is negative and one is positive. Except if the parameter "negative" is True, then return True only if both are negative.

In [1]:
def pos_neg(a, b, negative):
    if negative:
        return a<0 and b<0
    else:
        return (a<0 and b>0) or (a>0 and b<0)

In [2]:
pos_neg(1, -1, False)

True

In [3]:
pos_neg(1, 1, False)

False

In [4]:
pos_neg(-4, -5, True)

True

In [5]:
pos_neg(-4, 5, True)

False

## 8.not_string

In [1]:
def not_string(str):
    if str[:3]=='not':
        return str
    else:
        return 'not '+str

In [2]:
not_string('candy')

'not candy'

In [3]:
not_string('not bad')

'not bad'

## 9.missing_char

In [10]:
def missing_char(str, n):
    newstring=''.join(str.split(str[n]))
    return newstring

In [11]:
missing_char('kitten', 1)

'ktten'

## 10.front_back

In [25]:
def front_back(str):
    if len(str) <= 1:
        return str
    a=str[0]
    b=str[-1]
    c=str[1:-1]
    newstr=b+c+a
    return newstr

In [26]:
front_back('code')

'eodc'

In [27]:
front_back('a')

'a'

In [28]:
def front_back(str):
    if len(str) <= 1:
        return str
    mid = str[1:len(str)-1]  # can be written as str[1:-1]
    # last + mid + first
    return str[len(str)-1] + mid + str[0]

## 11.front3

In [5]:
def front3(str):
    if len(str) <3:
        return str*3
    else:
        return str[0:3]*3

In [6]:
front3('Java')

'JavJavJav'

In [8]:
front3('ab')

'ababab'

## 12.backAround

Given a string, take the last char and return a new string with the last char added at the front and back, so "cat" yields "tcatt". The original string will be length 1 or more

backAround("cat") → "tcatt"
backAround("Hello") → "oHelloo"
backAround("a") → "aaa"

In [1]:
def backAround(str):
    lc=str[-1]
    return lc+str+lc

In [2]:
backAround("cat")

'tcatt'

In [3]:
backAround("Hello")

'oHelloo'

In [4]:
backAround("a")

'aaa'

## 13.or35

Return true if the given non-negative number is a multiple of 3 or a multiple of 5. Use the % "mod" operator -- see Introduction to Mod


or35(3) → true

or35(10) → true

or35(8) → false

In [2]:
def or35(num):
    return num%3==0 or num%5==0

In [3]:
or35(3)

True

In [4]:
or35(10)

True

In [5]:
or35(8)

False

## 14.front22

Given a string, take the first 2 chars and return the string with the 2 chars added at both the front and back, so "kitten" yields"kikittenki". If the string length is less than 2, use whatever chars are there.


front22("kitten") → "kikittenki"

front22("Ha") → "HaHaHa"

front22("abc") → "ababcab"

In [1]:
def front22(word):
    if len(word)<2:
        return word+word+word
    else:
        return word[0:2]+word+word[0:2]

In [2]:
front22("kitten")

'kikittenki'

In [3]:
front22("Ha")

'HaHaHa'

In [4]:
front22("abc")

'ababcab'

In [5]:
front22("c")

'ccc'

## 16.startHi

Given a string, return true if the string starts with "hi" and false otherwise.


startHi("hi there") → true

startHi("hi") → true

startHi("hello hi") → false

In [3]:
def startHi(str):
    return str[0:2]=="hi"

In [4]:
startHi("hi there")

True

In [5]:
startHi("hi")

True

In [6]:
startHi("hello hi")

False

## 17.icyHot

Given two temperatures, return true if one is less than 0 and the other is greater than 100.


icyHot(120, -1) → true

icyHot(-1, 120) → true

icyHot(2, 120) → false

In [17]:
def icyHot(t1,t2):
    return (t1<0 and t2>100) or (t1>100 and t2<100 )

In [18]:
icyHot(120, -1)

True

In [19]:
icyHot(-1, 120)

True

In [20]:
icyHot(2, 120)

False

In [21]:
icyHot(-1, 100)

False

## 18.in1020

Given 2 int values, return true if either of them is in the range 10..20 inclusive.


in1020(12, 99) → true

in1020(21, 12) → true

in1020(8, 99) → false

In [17]:
def in1020(n1,n2):
    return n1 in range(10,20) or n2 in range(10,20)

In [18]:
in1020(12, 99)

True

In [19]:
in1020(21, 12)

True

In [20]:
in1020(8, 99)

False

### 19.loneTeen

We'll say that a number is "teen" if it is in the range 13..19 inclusive. Given 2 int values, return true if one or the other is teen, but not both.

In [22]:
def ioneteen(a,b):
    return (13<a<19 and not (13<b<19)) or ((not (13<a<19)) and 13<b<19)

In [26]:
ioneteen(14,20)

True

In [27]:
ioneteen(12,40)

False

In [28]:
ioneteen(15,17)

False

In [29]:
ioneteen(38,16)

True

### 20.delDel

Given a string, if the string "del" appears starting at index 1, return a string where that "del" has been deleted. Otherwise, return the string unchanged.


delDel("adelbc") → "abc"
delDel("adelHello") → "aHello"
delDel("adedbc") → "adedbc"

In [30]:
def delDEl(word):
    if word[1:4]=='del':
        print(word[0]+word[4:])
    else:
        return word

In [31]:
delDEl('adelbc')

abc

In [32]:
delDEl('adelHello')

aHello

In [33]:
delDEl('adedbc')

'adedbc'

### 21.mixStart

Return true if the given string begins with "mix", except the 'm' can be anything, so "pix", "9ix" .. all count.


mixStart("mix snacks") → true
mixStart("pix snacks") → true
mixStart("piz snacks") → false

In [34]:
def mixStart(word):
    return word[1:3]=='ix'

In [35]:
mixStart("mix snacks")

True

In [36]:
mixStart("pix snacks")

True

In [37]:
mixStart("piz snacks")

False

### 22.startOz

Given a string, return a string made of the first 2 chars (if present), however include first char only if it is 'o' and include the second only if it is 'z', so "ozymandias" yields "oz".


startOz("ozymandias") → "oz"
startOz("bzoo") → "z"
startOz("oxx") → "o"

In [18]:
def startOz(word):
    result=""
    if (len(word)>=1 and word[0]=='o'):
        result=result+word[0]
    if len(word)>=2 and word[1]=='z':
        result=result+word[1]
    print(result)

In [19]:
startOz("ozymandias")

oz

In [20]:
startOz("bzoo")

z

In [21]:
startOz("oxx")

o

In [22]:
startOz("xx")

### 23.intMax

### Given three int values, a b c, return the largest.


intMax(1, 2, 3) → 3
intMax(1, 3, 2) → 3
intMax(3, 2, 1) → 3

In [1]:
def intMax(a,b,c):
    lis=[a,b,c]
    return max(lis)

In [5]:
intMax(4, 2, 3)

4

In [3]:
intMax(1, 3, 2)

3

In [4]:
 intMax(3, 2, 1)

3

### 24.close10

### Given 2 int values, return whichever value is nearest to the value 10, or return 0 in the event of a tie. Note that Math.abs(n) returns the absolute value of a number.

close10(8, 13) → 8
close10(13, 8) → 8
close10(13, 7) → 0

In [11]:
def close10(a,b):
    if abs(10-a)==abs(10-b):
        return 0
    elif abs(10-a)>abs(10-b):
        return b
    else:
        return a

In [12]:
close10(8, 13)

8

In [13]:
close10(13, 8)

8

In [14]:
close10(13, 7)

0

### 25.in3050

### Given 2 int values, return true if they are both in the range 30..40 inclusive, or they are both in the range 40..50 inclusive.

in3050(30, 31) → true
in3050(30, 41) → false
in3050(40, 50) → true

In [1]:
def in3050(a,b):
    return (30<=a<=40 and 30<=b<=40) or (40<=a<=50 and 40<=b<=50)

In [2]:
in3050(30, 31)

True

In [3]:
in3050(30, 41)

False

In [4]:
in3050(40, 50)

True

### 26.max1020

### Given 2 positive int values, return the larger value that is in the range 10..20 inclusive, or return 0 if neither is in that range.
max1020(11, 19) → 19
max1020(19, 11) → 19
max1020(11, 9) → 11

In [2]:
def max1020(a,b):
    maxim=max(a,b)
    if (10<=a<=20 or 10<=b<=20):
        return maxim
    elif:10<=a<=20 return 0

In [3]:
max1020(11, 19)

19

In [4]:
max1020(19, 11)

19

In [5]:
max1020(11, 9)

11

### 27.stringE

### Return true if the given string contains between 1 and 3 'e' chars.
stringE("Hello") → true
stringE("Heelle") → true
stringE("Heelele") → false

In [19]:
def stringE(str):
    count=0
    for i in range(len(str)):
        if str[i]=='e':
            count+=1
    print(count)
    return 1<=count<=3

In [20]:
stringE("Hello")

1

True

In [22]:
stringE("Heelle")

3

True

In [23]:
stringE("Heelele")

4

False

### 28.lastDigit

### Given two non-negative int values, return true if they have the same last digit, such as with 27 and 57. Note that the % "mod" operator computes remainders, so 17 % 10 is 7.


lastDigit(7, 17) → true
lastDigit(6, 17) → false
lastDigit(3, 113) → true

In [28]:
def lastDigit(a,b):
    return a%10==b%10

In [29]:
lastDigit(7, 17)

True

In [30]:
lastDigit(6, 17)

False

In [31]:
lastDigit(3, 113)

True

### 29.endUp

### Given a string, return a new string where the last 3 chars are now in upper case. If the string has less than 3 chars, uppercase whatever is there. Note that str.toUpperCase() returns the uppercase version of a string.


endUp("Hello") → "HeLLO"
endUp("hi there") → "hi thERE"
endUp("hi") → "HI"

In [1]:
def endUp(word):
    if len(word)<=3:
        return word.upper()
    else:
        return word[:-3]+word[-3:].upper()

In [2]:
endUp("Hello")

'HeLLO'

In [3]:
endUp("hi there")

'hi thERE'

In [4]:
endUp("hi")

'HI'

### 30.everyNth

### Given a non-empty string and an int N, return the string made starting with char 0, and then every Nth char of the string. So if N is 3, use char 0, 3, 6, ... and so on. N is 1 or more.


everyNth("Miracle", 2) → "Mrce"
everyNth("abcdefg", 2) → "aceg"
everyNth("abcdefg", 3) → "adg"

In [15]:
def everyNth(word,N):
    nth=""
    i=0
    while i<len(word):
        nth=nth+word[i]
        i=i+N
    return nth

In [16]:
everyNth("Miracle", 2)

'Mrce'

In [17]:
everyNth("abcdefg", 2)

'aceg'

In [18]:
everyNth("abcdefg", 3)

'adg'